.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
}

.pro {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.9);
  border-radius: 1.5rem;
  background-color: #060b26;
  padding: 15px;
  display: flex;
  color: #fff;
  margin-top: 14px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  margin-left: inherit;
  margin-right: auto;
}

#project-image{
width: 70%;
}

#image{
width: 100%;
height: 100%;
border-radius: 0;
}

.project-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 40px;
}

.seeproject {
  background-color: #133086;
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 10px;
  color: #f5f5f5;
  width: 100%;

}

.project-btn button:hover {
  text-decoration: none;
  color: #f5f5f5;
}

.title {
  font-weight: 500;
  z-index: 1;
  color: #fff;
  border-radius: 40px;
  padding: 5px;
}

.project-title{
  font-size: 24px;
  z-index: 1;
}

.project-btn .seeproject:hover {
  background-color: #060b26;
  font-size: 1rem;
  color: #fff;
}

.stack {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}

.eachstack,
.popupbtn {
  border: 1px solid #999ba1;
  border-radius: 5px;
  padding: 5px;
  background-color: #133086;
  color: #f5f5f5;
}

.modal-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto !important;
 padding: 10px;
}

.modal-image img {
  border-radius: 0;
}

.modal-body{
  background-color: #060b26;
  color: white;
}
