@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,300&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');
.App {
 display: flex;
 align-items: center;
  justify-content: center;
 font-family: Poppins, Roboto, Crete, Inter;
 gap: 3rem;
}

.navbar-wrapper {
  background-color: #c5c6d4;
}

.nav-menu .close {
  display: none;
}

.content {
 display: flex;
 flex-direction: column;
 align-items: center;
  justify-content: center;
  height: 100vh;
 margin-left:250px;
 padding: 0 20px;
 /* overflow: auto; */
}

.popupbtn a{
  color: #fff;
  text-decoration: none;
}

.togglebtn {
  border-radius: 1.5rem;
  padding: 5px;
  outline: none;
  border: none
}

#light .togglebtn {
  background-color: #060b26;
  color: #fff;
}

#light .intro-text{
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  };

#light .pro {
  background-color: #c5c6d4;
}

#dark {
  background-color: #060b26;
}

#dark .navbar-wrapper {
  background-color: #060b26;
}

#dark .navbar {
  background-color: #060b26;
  border: 1px solid blanchedalmond;
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.9);
}


#dark .nav-menu{
  background-color: #060b26;
  color: #fff;
}

#dark .nav-text a{
  color: #fff;
}

#dark .nav-menu-items {
  border-radius: 1.5rem;
  color: #fff;
}

#dark .smiley {
  color: #9294a0;
}

#dark .about,
#dark .home {
  background-color: #060b26;
  border: 1px solid #060b26;
  border-radius: 1.5rem;
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.9);
}

#dark .about-text,
#dark .home-text,
#dark .intro-text {
  background-color: #060b26;
  color: #fff;
}

#dark .about-text {
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.9);
}

#dark .about-text,
#dark .about-text h1,
#dark .about-text h2,
#dark .about-text .name,
#dark .about-text .about-paragraph {
  color: #fff;
  background-color: #060b26;
}

#dark .about-ul li,
#dark .home-ul li {
  border: #3a3b3f 1px solid;
}

.about-ul li a {
  text-decoration: none;
}

.about-ul li a:hover {
  color: blue
}

.menu-bars {
  display: none;
}

/* Mobile Version */

@media only screen and (max-width: 780px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
  }
/* Mobile Nvigation Bar */
  .navbar-wrapper {
    width: 100%;
  }

  #dark .menu-bars {
    color: #fff;
  }

  .bars {
    color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
  }

.hidden {
  display: block;
  margin-left: 1rem;
  padding-bottom: 10px;
}
  .navbar {
    background-color: #9294a0;
    border: none;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: static;
    /* height: 40px; */
  }

.nav-menu {
  display: flex;
  background-color: #9294a0;
  width: 250px;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  top: 0;
  left: -100%;
  position: fixed;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu .close {
  display: block;
}

.menu-bars {
  display: flex;
  background-color: none;
  padding: 5px 15px;
  align-items: center;
  gap: 1rem;
}

/* Mobile Main body */

.content {
  margin-left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Mobile Home */
.home {
  width: 100%;
  height: 100vh;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
}

.home-text {
  width: 100%;
  height: 100vh;
  padding: 0;
  flex-direction: column;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  line-height: normal;
  /* padding: 10px; */
}

.intro-text {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  /* margin-left: 16px; */
}

.connections {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.home-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.home-ul li{
  margin: 0 10px;
  list-style: none;
}

.home-ul li a {
font-size: 14px;
}

.home-btn {
  width: auto;
}
/* Mobile About */
.about {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
  margin: 0;
  gap: 0;
}

/* img {
  padding-top: 1rem;
  background-color: red;
} */

.about-text {
  background-color: #fff;
  padding: 10px;
  text-align: left;
  color: #000;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: none;
  width: 100%;
}

.about-text h1 {
  width: 100%;
  text-align: center;
}

.about-icons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.about-ul li{
  /* margin: 0 10px; */
  list-style: none;
}

.about-ul h2 {
  padding: 5px;
}


/* Mobile Projects */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto 0 auto;
}

.pro {
  border-radius: 0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}


}

/* Tablet Version */

@media only screen and (min-width: 781px) and (max-width: 1024px) {

  .content {
    width: 100%;
    height: 100%;
  }

 .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto 0 auto;
  height: 100%;
  min-height: 100vh;
  padding: 2rem 0 5px 0;
}

.pro {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

/* Tablet Home */
.home {
  width: 100%;
  height: 100vh;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
}

.home-text {
  height: 100vh;
  padding: 0;
  flex-direction: column;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  margin-left: 27px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  font-family: inherit;
}

.intro-text {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  line-height: normal;
  margin-right: auto;
  width: 100%;
  margin-left: auto;
}

.connections {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.home-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.links {
  margin-right: auto;
}

.home-ul li{
  margin: 0 10px;
}


.home-ul li a {
font-size: 14px;
}

.home-btn {
  width: auto;
}
/* Tablet About */
.about {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #fff;
  margin: 0;
}

.about-text {
  background-color: #fff;
  padding: 10px;
  height: 100vh;
  width: 100%;
  text-align: left;
  color: #000;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: none;
}

.about-text h1 {
  width: 100%;
  text-align: center;
}

.about-icons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.about-ul h2 {
  padding: 5px;
}

}
